<footer>
    <!-- Hacer un footer que muestre en una lista: -Gaston Marino, -Trabajo practico 1, DNI -->
    <div class="container text-white-50">
        <p class="m-0 p-0">Gaston Marino</p>
        <p class="m-0 p-0">DWN4AV - Aplicaciones Híbridas</p>
        <p class="m-0 p-0">Profesor: Brian Lara</p>
    </div>
</footer>