<div class="row">
    <div class="mt-4 text-center">
        
        <div class="shadowTitle">
            <img src="/img/logo.png" alt="Alumnos" class="imgTitle" />
            <h1>Alumnos de la universidad</h1>    
        </div>
    </div>
</div>